div.slide__boilerplate {
	color: #333;
	display: flex;
	flex-wrap: wrap;
	font-style: italic;
	justify-content: space-around;
	padding: 0 5%;
	position: absolute;
	z-index: 1;
}

div.slide__boilerplate p {
	background: #FAFAFA;
	color: #333;
	font-size: 32px;
	font-weight: 300;
	margin-right: 48px;
	opacity: 0.8;
	padding: 4px 15px;
	text-transform: uppercase;
	text-shadow: none;
}

.captioned-image-row {
	display: flex;
	justify-content: center;

	> div {
		display: flex;
		flex: 1;
		flex-direction: column;
		max-width: 420px;

		img {
			border: none;
			box-shadow: none;
			background: none;
		}
	}
}
